# Prerequisites in the kaggle
jsonargparse
sentence-transformers

# Recommanded by the kaggle
scikit-learn
torch
nltk
gensim

# Also see https://fasttext.cc/docs/en/support.html if this fails
fasttext


# Other dependencies
numpy
matplotlib
ipykernel
